data/raw/
data/interim/
data/processed/
dunnhumby_The-Complete-Journey/
/models/
*.zip
*.parquet
__pycache__/
.env
.venv/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.log
*.pid
reports/figures/*.png
reports/figures/*.html
