* text=auto

*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.txt text eol=lf
*.json text eol=lf
Dockerfile text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.pkl binary
*.cbm binary
*.pt binary
*.parquet binary
